@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    background-image: url('images/pattern-background-desktop.svg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    background-color: #e0e8ff;
    /* background-color: hsl(225, 100%, 94%); */
    font-family: "Red Hat Display";
    color: hsl(223, 47%, 23%);
    
}

.order-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    width: 30%;
    margin: 10% auto;
    border-radius: 12px;
    background-color: #fff;
    padding-bottom: 2.5%;

}

.illustration {
    width: 100%;
}

.illustration img {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.order-container h1 {
    font-size: 2em;
    margin: 20% 0 6% 0;
    font-weight: 900;
}

.text-container {
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    margin: 0 8% 6% 8%;
    font-weight: 500;
    color: hsl(224, 23%, 55%);

    /* border: 1px solid red; */
}

.plan-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    /* padding: 5%; */
    margin: 0 auto 5% auto;
    width: 80%;
}

.plan-container a {
    color: hsl(245, 75%, 52%);
    font-size: 14px;
    font-weight: 700;
    transition: all 0.1s ease;
}

.plan-container a:hover {
    color: hsl(246, 70%, 67%);
}

.plan-container .plan-details {
    /* border: 1px solid red; */
    line-height: 160%;
    margin-left: -10%;
    padding: 5% 0;
    color: hsl(224, 23%, 55%);

}

.plan-container .plan-details p {
    font-weight: 700;
    margin: 0;
    color: hsl(223, 47%, 23%);

}

.payment {
    /* border: 1px solid red; */
    background-color: hsl(245, 75%, 52%);
    font-size: 14px;
    margin-bottom: 5%; 
    width: 75%;
    text-align: center;
    padding: 3.5% 0;
    border-radius: 12px;
    box-shadow: 0px 8px 30px hsla(224, 23%, 55%, 0.5);
}

.payment a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 3.5% 0;
    margin: 0;
    transition: all 0.1s ease;
}

.payment:hover {
    background-color: hsl(246, 70%, 67%);
}

.cancel {
    /* border: 1px solid red; */
    font-weight: 700;
    font-size: 14px;
    width: 75%;
    text-align: center;
    padding: 3.5%;
    border-radius: 12px;
}

.cancel a {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    transition: all 0.1s ease;
}

.cancel a:hover {
    color: hsl(223, 47%, 23%);
}


/* responsive */
@media only screen and (max-width: 950px) {
    .order-container {
        /* border: 1px solid red; */
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .order-container {
        /* border: 1px solid red; */
        width: 70%;
    }
}

@media only screen and (max-width: 375px) {
    .order-container {
        /* border: 1px solid red; */
        width: 85%;
    }
    
    .order-container h1 {
        font-size: 1.25em;
        margin-top: 15%;
    }
    
    .text-container {
        font-size: 14px;
        line-height: 160%;
        margin: 2% 10% 6% 10%;
        /* border: 1px solid red; */
    }
    
    .plan-container {
        /* border: 1px solid red; */
        border-radius: 12px;
        padding: 0;
        justify-content: space-between;
        margin: 0 auto 5% auto;
        width: 85%;
        font-size: 14px; 
    }

    .plan-container img {
        /* border: 1px solid red; */
        padding-left: 5%;
    }

    .plan-container a {
        color: hsl(245, 75%, 52%);
        font-size: 12px;
        font-weight: 700;
        padding-right: 5%;
    }
    
    .plan-container a:active {
        color: hsla(246, 70%, 67%, 0.72);
    }
    
    .plan-container .plan-details {
        /* border: 1px solid red; */
        padding: 5% 0 5% 2%;
    }
    
    .plan-container .plan-details p {
        font-weight: 700;
        margin: 0;
        color: hsl(223, 47%, 23%);
    }
    
    .payment {
        /* border: 1px solid red; */
        margin-bottom: 5%; 
        width: 85%;
        padding: 5% 0;
    }
    
    .payment:active{
        background-color: hsla(246, 70%, 67%, 0.72);
    }
    
    .cancel {
        /* border: 1px solid red; */
        width: 85%;
    }
    
    .cancel a:active {
        color: hsla(223, 47%, 23%, 0.72);
    } 
}